*{
    box-sizing: border-box;
}

body{ 
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color : #777777;
    margin: 0;
}

.content{
    width: 960px;
    margin: 0 auto;
    background: #ffffff;
    overflow: auto;
}

header{
  border-bottom : 1px solid #cccccc;
}


#mainContent{
    background: url("../images/interlaced.png");
    overflow: auto;
}

#linkDiv{
    float: right;
    padding: 30px 10px;
}

.headerLinks{
    padding: 0 10px;
    color: #777777;
    text-decoration: none;
    border-right: 1px solid #777777;
}

#lastHeaderLink{
    border-right: none;
}

h1{
    background: #4aaaa5;
    color: white;
    padding: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin : 0;
    float:left;
}

section{
    border: 1px solid #dddddd;
    background-color: white;
    padding: 20px;
    width: 960px;
    margin: 30px auto;
    line-height: 32px;
    overflow: auto;
}

h2{
    clear: both;
    color: #4aaaa5;
    padding: 10px;
    border-bottom: 3px solid #cccccc;
}

.floatImage{
    float:left;
    margin-right: 10px;
}

footer{
    background: #666666;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 30px;
    border-top: 10px solid #4aaaa5;
}

.portfolioImageBox{
    width: 290px;
    height: 220px;
    margin: 10px;
    padding: 0;
    display: inline-block;
    position: relative;
}

.portfolioImage{
    height: 200px;
    width: 270px;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.portfolioImageLabel{
    height: 50px;
    position: absolute;
    width: 270px;
    bottom: 10px;
}

.portfolioLink{
    background : #4aaaa5;
    color: white;
    width: 270px;
    padding: 10px;
    text-align : center;
    position: absolute;
    text-decoration: none;
    font-size: 20px;
}